* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
    list-style-type: none;
    scroll-behavior: smooth;
    transition: all 0.4s ease;
    font-family: sans-serif;
    outline: none;
}
*,*::after, *::before {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 20px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.ant-layout-sider {
  height: 100vh;
}

.ant-layout-content {
  margin: 0 !important;
  height: calc(100vh - 64px);
  overflow: scroll;
}